<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Scan My Network</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <aside class="sidebar">
    <div class="sidebar-content">
      <div class="logo-block">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="sidebar-logo" />
        <h1 class="sidebar-title">Scan My Network</h1>
      </div>
      <nav class="sidebar-nav">
        <a href="/">Home</a>
        <a href="/scanner">Scanner</a>
        <a href="#about">About</a>
      </nav>
    </div>

    <footer class="footer">
      &copy; 2025 · <strong>Scan My Network v{{ app_version }}</strong> ·
      <a href="https://github.com/tadjourisamir/net-scanner" target="_blank" rel="noopener noreferrer">GitHub</a>
    </footer>
  </aside>

  <div class="main-content">
    {% block content %}{% endblock %}
  </div>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
